#flash_message {
    background-color: lightgreen;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid green;
    display: inline-block;
}

#flash_warning {
    margin-left: 10em;
    background-color: rgb(184, 129, 129);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(250, 3, 3);
    display: inline-block;
}


