<!DOCTYPE html>
{% extends 'index.html' %}

{% block title %}
{{book.id}}
{% endblock %}
{% block style%}
{{bootstrap.load_css()}}
<link rel="stylesheet" href="{{url_for('static', filename='flash.css')}}">
{% endblock %}
{%block script %} <script src="{{url_for('static', filename='js/flash.js')}}"></script>
{% endblock %}


{% block content %}
{% with messages=get_flashed_messages(with_categories=True)%}
{% if messages %}
<ul class="flashes" id="flash_container">
    {% for category, message in messages %}
    <li class="alert alert-{{category}}">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="card m-5 w-25">
    <div class="card-body">
        <h5 class="card-title">
            Title: {{book.title}}
        </h5>
        <h5 class="card-title">
            Author: {{book.author}}
        </h5>
        <h5 class="book.title">
            Rating: {{book.rating}}/10
        </h5>
        <a class="btn btn-primary" href="{{url_for('index') }}">Home</a>
    </div>
</div>
<script>
    flashContainer = document.getElementById("flash_container")
    setClear(5000,flashContainer)
</script>

{% endblock %}