    <!DOCTYPE html>
    {% extends 'index.html' %}
    {% block title %}
    Add Book
    {% endblock %}

    {% block content %}
    <h1 class="display-4 ms-5 mt-3 rounded"> {{heading}}</h1>
    {% if form.errors %}
    <ul class="errors">
    {% for error in form.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

    <form class="col-lg-6 m-5 bg-warning w-50 offset-lg-3 " action="{{ url_for(url_action[0], id=url_action[1])}}" method="POST">
      {{ form.csrf_token }}
  <div class="row justify-content-center mb-3 ms-5">
    <div class="col-sm-2 mt-3" >{{form.title.label}}</div>
    <div class="col-sm-10 mt-3">
      {{form.title}}
    </div>
  </div>
  <div class="row justify-content-center mb-3 ms-5">
    <div class="control-label col-sm-2" >{{form.author.label}}</div>
    <div class="col-sm-10">
      {{form.author}}
    </div>
  </div>
    <div class="row justify-content-center mb-3 ms-5">
    <div class="control-label col-sm-2" >{{form.rating.label}}</div>
    <div class="col-sm-10 ">
      {{form.rating}}
    </div>
  </div>
{% if heading == "Create Book"%}
  <div class="mb-3  text-center">
    <input type="submit" value="Create Book" class="btn btn-primary stretched-link mb-3">
  </div>
  {%else%}
  <div class=" mb-3 text-center">
    <input type="submit" value="Edit" class="btn btn-primary stretched-link mb-5">
  </div>
{% endif %}
</form>
    {% endblock %}