<!DOCTYPE html>
{% extends 'index.html' %}

{% block title %}
Library
{% endblock %}

{% block content %}
<h2 class="ms-3 mt-3">My Library</h2>

<table class="table table-bordered border-primary ms-5 table-sm" style="width: 50%;">
  <thead class="table-dark" >
    <tr >
      <th scope="col">#</th>
      <th  scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>

{% for book in books %}
 <tbody  >
    <tr class="bg-info">
      <td class="col">{{book.id}}</td>
      <td class="col ">{{book.title}}</td>
      <td class="col ">{{book.author}}</td>
      <td class="col ">{{book.rating}}/10</td>
    </tr>

</tbody>
{% endfor %}
</table>

<a href="{{url_for('create_book')}}" class="btn btn-primary stretched-link ms-3">Add New Book</a>

{% endblock%}